<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.png" type="image/png">
  <title th:text="${signState.roleName+'页面'}"></title>

    <!--Begin  Page Level  CSS -->
    <link href="/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
     <!--End  Page Level  CSS -->
    <link href="/css/icons.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="/js/html5shiv.min.js"></script>
          <script src="/js/respond.min.js"></script>

    <![endif]-->

</head>

<body class="sticky-header">


    <!--Start left side Menu-->
    <div class="left-side sticky-left-side">

        <!--logo-->
        <div class="logo">
            <a href="admin-index.html"><img src="/images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="admin-index.html"><img src="/images/logo-icon.png" alt=""></a>
        </div>
        <!--logo-->

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="nav-active"><a href="admin-index.html"><i class="icon-home"></i> <span>主页</span></a>
                </li>
                <li class="menu-list"><a href="admin-index.html"><i class="icon-user"></i> <span>个人信息管理</span></a>
                    <ul class="sub-menu-list">
                        <li  class="active"><a href="admin-index.html"> 个人信息修改</a></li>
                        <li><a href="#" onclick="frameJump('/upload/tutor-info')"> 录取要求</a></li>
                        <li><a href="#" onclick="frameJump('/upload/student-info')"> 个人简历</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href="admin-index.html"><i class="icon-people"></i> <span>信息查询</span></a>
                    <ul class="sub-menu-list">
                        <li  class="active"><a href="#" onclick="frameJump('/user/tutor')"> 导师信息查询</a></li>
                        <li><a href="#" onclick="frameJump('/upload/tutor-info')"> 学生信息查询</a></li>
                    </ul>
                </li>
                <li><a href="#" onclick="frameJump('/message/page')"><i class="icon-envelope-open"></i> <span>消息</span></a>
                </li>
            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--End left side menu-->
    
    
    <!-- main content start-->
    <div class="main-content" id="content-main">

        <!-- header section start-->
        <div class="header-section" id="content-header">

            <a class="toggle-btn"><i class="fa fa-bars"></i></a>

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">8</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                            <h5 class="title">You have <label></label> pending task</h5>
                            <ul class="dropdown-list">
                            <li class="notification-scroll-list notification-list " id="task-list">
                               <!-- list item-->
                               <a href="javascript:void(0);" class="list-group-item">
                                  <div class="media">
                                     <div class="pull-left p-r-10">
                                        <em class="fa fa-shopping-cart noti-primary"></em>
                                     </div>
                                     <div class="media-body">
                                        <h5 class="media-heading">A new order has been placed.</h5>
                                        <p class="m-0">
                                            <small>29 min ago</small>
                                        </p>
                                     </div>
                                  </div>
                               </a>

                             <li class="last"> <a href="#">View all notifications</a> </li>
							</ul>
                        </div>
                    </li>
                    
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="badge" id="message-number" style="display: none"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-head pull-right">
                         <h5 class="title">消息<a id="read-all-button" style="float: right;color: black" href="#" onclick="readAll()">全部已读<i class="ti-brush-alt"></i></a></h5>
                        <ul class="dropdown-list normal-list">
						 <li class="message-list message-scroll-list" id="message-list">
                                <!--消息列表-->
						</li>
						<li class="last"> <a href="#" onclick="frameJump('/message/page')">所有消息</a> </li>
					</ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="/images/users/avatar-6.jpg" alt="" />
                            <label th:text="${signState.user.name}"></label>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                          <li> <a href="/sign/lock"> <i class="fa fa-info"></i> 暂时离开 </a> </li>
                          <li> <a href="/sign/logout"> <i class="fa fa-lock"></i> 注销 </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->


        <!--body wrapper start-->
        <iframe id="content-frame"></iframe>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main" id="content-footer">Copyright &copy; 2020.yxl.</footer>
         <!--End footer -->

       </div>
      <!--End main content -->
    


    <!-- 框架核心js -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/plugins/moment/moment.js"></script>
    <script  src="/js/jquery.slimscroll.js "></script>
    <script src="/js/jquery.nicescroll.js"></script>
    <script src="/js/functions.js"></script>
    <!-- 框架核心js -->

    <!-- 页面主js -->
	<script src="/plugins/morris-chart/morris.js"></script>
    <script src="/plugins/morris-chart/raphael-min.js"></script>
    <script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="/pages/dashboard.js"></script>
    <script src="/js/admin.js"></script>
    <!-- 页面主js -->


   

</body>

</html>
