
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="showMsg">
    <script src="/plugins/sweetalert/sweet-alert.js"></script>
    <div th:text="${msg}" id="msg" hidden="hidden"></div>
    <script>
        let msg = document.getElementById("msg");
        let oldFun = null;
        if (window.onload!==null) eval("oldFun="+window.onload.toString());
        window.onload = function (){
            if (oldFun!==null) oldFun();
            if (msg.innerText!=="") swal(msg.innerText);
        }
    </script>
</div>
</body>
</html>